body {
	
	margin: 0;
	font-family: Arial;
	
}

.page-header {
	
	height: 50vh;
	background-image:linear-gradient(120deg, #155799, #159957)
	
}

.headline {
	
	color: white;
	font-size: 300%;
	padding-top: 15vh;
	font-weight: bold;
	
}

.description {
	
	color: white;
	font-size: 150%;
	opacity: 0.3;
	padding-top: 5vh;
	
}