.page {
	
	padding: 0 15%;
	
}

.page h1 {
	
	border-bottom: 1px solid #DAD9D9;
	
}

#scroll {
	
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 50px;
	height: 50px;
	border: 3px solid #D3D3D3;
	border-radius: 10px;
	background: rgba(211, 211, 211, 0.5);
	opacity: 0;
	background-image: url(https://user-images.githubusercontent.com/63011310/78821499-e0868d80-79d9-11ea-823a-c3968b8df7ac.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
}

#scroll:hover {
	
	cursor: pointer;
	
}